<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>New Event - <%= @event.name %></h1>
  <p>
  You have successfully created a new event on <a href="http://www.respondtous.com">Respond To Us</a>.<br /> 
  Your event URL is: <%= @url %><br />
  You can send this link out to your participants and they'll be able to click on it and respond. You'll be notified when
  a new RSVP is received. Once the event date has passed, your event will be removed and no more RSVP's will be sent.
  </p>
  <p>
    If you have any questions, or feel you received this email in error, please let us know by replying to this email.
  </p>
  <p>Thanks for using Respond To Us and have a great event!</p>
</body>
</html>
